<a href="https://colab.research.google.com/github/jyotikaisrani/movierecommendationsys/blob/main/Movierec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

*try run*

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/dataset/credits.csv')

In [ ]:
data.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [12]:
moviemeta = pd.read_csv('/content/drive/MyDrive/dataset/movies_metadata.csv' , low_memory=False)
moviemeta.head(4)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0

[4 rows x 24 columns]

In [55]:

moviemeta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [15]:
meanvote = moviemeta['vote_average'].mean()
print(meanvote)

5.618207215133889

In [32]:
minimumvote = moviemeta['vote_count'].quantile(0.50)
print(minimumvote)

10.0

In [33]:
q_movies =moviemeta.copy().loc[moviemeta['vote_count']>=minimumvote]
q_movies.shape

(22931, 24)

In [34]:
def weighed_rating(x, minimumvote=minimumvote, meanvote= meanvote):
  voters=x['vote_count']
  avg_vote=x['vote_average']
  return (voters/(voters+minimumvote)*avg_vote) + (minimumvote/(minimumvote+voters)*meanvote)

In [35]:
q_movies['score'] = q_movies.apply(weighed_rating, axis=1)

In [44]:
q_movies = q_movies.sort_values('score' , ascending=False)

In [45]:
pd.set_option('precision',2)

In [47]:
q_movies[['title','vote_count','vote_average','score']].head(50)

                                                  title  ...  score
10309                       Dilwale Dulhania Le Jayenge  ...   9.05
43320                                   Planet Earth II  ...   8.85
39085                                      Planet Earth  ...   8.63
314                            The Shawshank Redemption  ...   8.50
834                                       The Godfather  ...   8.50
40251                                        Your Name.  ...   8.47
43523                                            Cosmos  ...   8.42
33420                                             Human  ...   8.32
7643                                 Sansho the Bailiff  ...   8.30
12481                                   The Dark Knight  ...   8.30
2843                                         Fight Club  ...   8.30
292                                        Pulp Fiction  ...   8.30
522                                    Schindler's List  ...   8.29
23673                                          Whiplash  ...   8.29
5481                                      Spirited Away  ...   8.29
2211                                  Life Is Beautiful  ...   8.29
1178                             The Godfather: Part II  ...   8.29
1152                    One Flew Over the Cuckoo's Nest  ...   8.29
1176                                             Psycho  ...   8.29
29183     The Jinx: The Life and Deaths of Robert Durst  ...   8.29
1184                        Once Upon a Time in America  ...   8.28
13252  Dear Zachary: A Letter to a Son About His Father  ...   8.22
42491                                          Lemonade  ...   8.22
351                                        Forrest Gump  ...   8.20
1154                            The Empire Strikes Back  ...   8.20
18465                                  The Intouchables  ...   8.20
289                              Leon: The Professional  ...   8.19
3030                                     The Green Mile  ...   8.19
1170                                         GoodFellas  ...   8.19
2216                                 American History X  ...   8.19
1161                                       12 Angry Men  ...   8.19
9698                               Howl's Moving Castle  ...   8.19
2884                                  Princess Mononoke  ...   8.19
5878                                        City of God  ...   8.19
877                                         Rear Window  ...   8.18
44677                     Black Mirror: White Christmas  ...   8.18
5553                             Grave of the Fireflies  ...   8.17
1910                                      Seven Samurai  ...   8.17
1132                                    Cinema Paradiso  ...   8.17
25465                                             Mommy  ...   8.17
43190                                  Band of Brothers  ...   8.16
2743                                  Stop Making Sense  ...   8.16
1138                                     Paths of Glory  ...   8.16
39233                             O.J.: Made in America  ...   8.15
895                                    Sunset Boulevard  ...   8.15
39386                                             Piper  ...   8.15
3189                                        City Lights  ...   8.14
45437                                    In a Heartbeat  ...   8.13
39086                                              Life  ...   8.12
15480                                         Inception  ...   8.10

[50 rows x 4 columns]